<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
        max-width: 560px;
        }

        .field-error {
        border-color: #dc3545;
        color: #dc3545;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2> Sign Up</h2>
    </div>

    <form action="" th:action th:object="${signUpDto}" method="post">

        <div>
            <label for="email">email</label>
            <input type="email" id="email" th:field="*{email}" required maxlength="40" class="form-control"
                   th:errorclass="field-error">
            <div class="field-error" th:errors="*{email}">
            </div>
        </div>
        <div>
            <label for="password">password</label>
            <input type="password" id="password" th:field="*{password}" minlength="8" maxlength="20" class="form-control"
                   th:errorclass="field-error">
            <div class="field-error" th:errors="*{password}">
            </div>
        </div>
        <div>
            <label for="nickname">nickname</label>
            <input type="text" id="nickname" th:field="*{nickname}" maxlength="20" class="form-control"
                   th:errorclass="field-error">
            <div class="field-error" th:errors="*{nickname}">
            </div>
        </div>
        <div>
            <label for="name">name</label>
            <input type="text" id="name" th:field="*{name}" maxlength="20" class="form-control"
                   th:errorclass="field-error">
            <div class="field-error" th:errors="*{name}">
            </div>
        </div>
        <div>
            <label for="phone">phone</label>
            <input type="text" id="phone" th:field="*{phone}" maxlength="20" class="form-control"  placeholder="000-0000-0000"
                   th:errorclass="field-error">
            <div class="field-error" th:errors="*{phone}">
            </div>
        </div>
<!--        <div>-->
<!--            <label for="image">image</label>-->
<!--            <input type="text" id="image" th:field="*{image}" maxlength="500" class="form-control"-->
<!--                   th:errorclass="field-error">-->
<!--            <div class="field-error" th:errors="*{image}">-->
<!--            </div>-->
<!--        </div>-->
        <div>
            <label for="introduce">introduce</label>
            <textarea type="text" id="introduce" th:field="*{introduce}" maxlength="400" class="form-control"
                      th:errorclass="field-error"></textarea>
            <div class="field-error" th:errors="*{introduce}">
            </div>
        </div>

        <hr class="my-4">
        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-dark btn-lg" type="submit">
                    submit
                </button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg" type="button"
                        th:onclick="|location.href='@{/account/sign-in}'|">
                    sign-in
                </button>
            </div>
        </div>
    </form>
</div>

</body>
</html>