<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }

        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>

<div class="container">
    <div>
        <div>
            <label for="title">title</label>
            <input type="text" id="title" name="title" class="form-control"
                   th:value="${projectDto.title}" readonly>
        </div>

        <div>
            <label for="description">description</label>
            <textarea type="text" id="description" name="description" class="form-control"
                   th:value="${projectDto.title}" readonly></textarea>
        </div>

        <div>
            <label>기간</label>
            <span th:text="${projectDto.start}" ~ th:value="${projectDto.end}"></span>
            <span th:if="${projectDto.isProceeding eq 1}"> | 진행 중 </span>
        </div>

        <div>
            <label>인원</label>
            <p> th:value="${projectDto.headcount}" </p>
            <ul th:each="contributor : ${projectDto.contributors}">
                <li><a th:href="@{/{contributorSeq}(contributorSeq=${contributor.seq})}">
                    th:text="${contributor.nickname}</a></li>
            </ul>
        </div>

        <div>
            <label for="mainFunction">mainFunction</label>
            <textarea type="text" id="mainFunction" name="mainFunction" class="form-control"
                      th:value="${projectDto.mainFunction}" readonly></textarea>
        </div>

        <div>
            <label for="interest">interest</label>
            <textarea type="text" id="interest" name="interest" class="form-control"
                      th:value="${projectDto.interest}" readonly></textarea>
        </div>

        <div>
            <label>github</label>
            <p> <a th:href="@{${link}(link=${projectDto.github})}">
                th:text="${projectDto.github}"</a> </p>
        </div>

    </div>
    <hr class="my-4">
    <div>
        대충 참여 인원
    </div>


</div>
</body>
</html>