<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.baro.portfolio.repository.mapper.ProjectMapper">

    <insert id="save" useGeneratedKeys="true" keyProperty="seq">
        insert into tProject(sTitle, sDescription, dtStart, dtEnd,
                             nHeadcount,sArchitecture, sErd, sMainFunction,
                             sInterest, sGithub, bIsPublic)
        values (#{title}, #{description}, #{start}, #{end},
                #{headcount}, #{architecture}, #{erd}, #{mainFunction},
                #{interest}, #{github}, #{isPublic})
        <selectKey keyProperty="seq" resultType="int" order="AFTER">
            select LAST_INSERT_ID()
        </selectKey>
    </insert>

    <select id="findBySeq" resultType="Project">
        select nProjectSeq as seq, sTitle as title, sDescription as description,
               dtStart as start, dtEnd as end, nHeadcount as headcount,
               sArchitecture as architecture, sErd as erd, sMainfunction as mainFunction,
               sInterest as interest, sGithub as github, bIsPublic as isPublic,
               dtCreatedAt as createdAt
        from tProject
        where nProjectSeq = #{seq}
    </select>

    <update id="update">
        update tProject
        set sTitle=#{updateParam.title},
            sDescription=#{updateParam.description},
            dtStart=#{updateParam.start},
            dtEnd=#{updateParam.end},
            nHeadcount=#{updateParam.headcount},
            sArchitecture=#{updateParam.architecture},
            sErd=#{updateParam.erd},
            sMainFunction=#{updateParam.mainFuction},
            sInterest=#{updateParam.interest},
            sGithub=#{updateParam.github}
        where nProjectSeq = #{seq}
    </update>

    <delete id="remove">
        delete from tProject
        where nProjectSeq = #{seq}
    </delete>
</mapper>