<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.baro.portfolio.repository.mapper.SkillMapper">

    <insert id="save" useGeneratedKeys="true" keyProperty="seq">
        insert into tSkill(sName)
        values (#{name})
    </insert>

    <select id="findByName" resultType="Skill">
        select nSkillseq as seq, sName as name
        from tSkill
        where sName = #{name}
    </select>

    <select id="findBySeq" resultType="Skill">
        select nSkillseq as seq, sName as name
        from tSkill
        where nSkillSeq = #{seq}
    </select>

</mapper>